/**
 * LoadingSpinner Component Styles
 */

.spinner {
  display: inline-block;
  position: relative;
}

.spinnerCircle {
  border: 3px solid #e5e7eb;
  border-top-color: #2563eb;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  width: 100%;
  height: 100%;
}

.spinner--sm {
  width: 1rem;
  height: 1rem;
}

.spinner--md {
  width: 2rem;
  height: 2rem;
}

.spinner--lg {
  width: 3rem;
  height: 3rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

